@page
@model FinalProject.Views.Home.LoginModel
@{
}
<div class="text-center">
    <h1 class="display-4">Applicable Donations</h1>
    <p>You can donate in these organizations.</p>
    <p>Login.</p>
    <p>email: <input type="text"></p>
    <br />
    <p>password: <input type="text"></p>
    <input type="submit" /><input type="reset" />
</div>
