
@page
@model FinalProject.Views.Home.RegisterModel
@{
}
<div class="text-center">
    <h1 class="display-4">Applicable Donations</h1>
    <p>Registration.</p>
    <p>email: <input type="text"></p>
    <br />
    <p>username: <input type="text"></p>
    <p>password: <input type="text"></p>
    <p>confirm password: <input type="text"></p>
    <input type="submit" /><input type="reset" />
</div>